

<h1 id="form_title">Say Hello!</h1>
<div class="skinny_wrapper wrapper_padding">
    <%= form_for @apply do |f| %>
    <%= f.label :first %>
    <%= f.text_field :first, required: true %>
    <%= f.label :last %>
    <%= f.text_field :last, required: true %>
  <br>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
    <br>
    <%= f.label :description, "Why are you a good fit for our team? (Few Sentences)" %><br />
    <%= f.text_area :description, as: :text %>

      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>
      <br>
      <%= f.submit 'Send Message', class: "button" %>

  <% end %>
<br><br>

</div>
