<div id="posts_wrapper" class="skinny_wrapper">
  <h1 id="form_title">Add User</h1>

  <%= form_for @user do |f| %>

    <div class="field">
      <%= f.label "Full name" %>
      <%= f.text_field :full_name %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <br><%= f.submit %>

  <% end %>

  </div>
</div>
