<!--<% @posts.each do |post| %>
  <div class="feed">
  <hr>
    <p class="date"><%= post.created_at.strftime("%A, %b %d") %> </p>
    <h3 id = "newest_title"><a href="#"><%= link_to post.title, post %></a></h3>
    <%= image_tag post.image.url(:medium), :style => 'width: 50%; float: right;' %>
 </div>
<%end%> -->
<div class="wrapper wrapper_padding clearfix">
  <!--<div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>There are many variations of passages of Lorem Ipsum <a href="#">available</a></p>

      <p>But the majority have suffered
      alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
     </p>
      <p>There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered
      </p>
  </div> -->
  <h3>new posts</h3>
  <div class="image_catalog">

    <% @posts.each do |post| %>
      <%= link_to post do %>
        <%= image_tag (post.image.url(:thumb)), :style => 'width: 310px; height: 200px; padding-left: 10px;padding-right:10px;', class: "home_image" %>
      <% end %>
    <% end %>

  </div>
  <div class="title_catalog">
    <% @posts.each do |post| %>
    <h3><a href="#"><%= link_to post.title, post %></a></h3>
    <% end %>

  </div>



  <div class="col-2 homepage_content">
    <h2>Stuff I've written</h2>
    <hr>
  </div>

  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
    <h3><a href="#"><%= link_to project.title, project %></a></h3>
    <p class="date"><%= project.created_at.strftime("%A, %b %d") %> </p>
    <% end %>

  </div>
</div>
