
  <% filteredPosts = [] %>
  <!--filtered posts are supposed to be approved -->
  <% Post.approved.all.order("created_at desc").each do |post| %>
    <% filteredPosts.push post %>
  <% end %>




<div class="featured_img">
   <%= link_to filteredPosts[0] do %>
   <%= image_tag (filteredPosts[0].thumbnail.url(:large)), :style => '', class: "featured_img1" %>
    <div class="main_hdr">

      <h3><a href="#"><%= link_to filteredPosts[0].title, filteredPosts[0] %></a> </h3>
    <h3 id="under_post"><%=  markdown(filteredPosts[0].content[3,300]) %>...</h3>
    </div>

    <% end %>
</div>



<div class="flex--welcome">
    <div class="trending-new">
      <div class="section">
        <div class="one-article" style="width: 33%;">
          <%= link_to filteredPosts[1] do %>
          <%= image_tag (filteredPosts[1].thumbnail.url(:large)), class: "home_image" %>
          <h3><a href="#"><%= link_to filteredPosts[1].title, filteredPosts[1] %></a></h3>
          <p><%= filteredPosts[1].created_at.strftime("%A, %b %d")%></p>
          <p class="desc"><%= markdown(filteredPosts[1].content[3, 250]) %> </p>
          <% end %>
        </div>
        <div class="one-article" style="width: 33%;">
          <%= link_to filteredPosts[2] do %>
          <%= image_tag (filteredPosts[2].thumbnail.url(:large)), class: "home_image" %>
          <h3><a href="#"><%= link_to filteredPosts[2].title, filteredPosts[2] %></a></h3>
          <p><%= filteredPosts[2].created_at.strftime("%A, %b %d")%></p>
          <p class="desc"><%= markdown(filteredPosts[2].content[3,300]) %> </p>
          <% end %>
        </div>
        <div class="one-article" style="width: 33%;">
          <%= link_to filteredPosts[3] do %>
            <%= image_tag (filteredPosts[3].thumbnail.url(:large)), class: "home_image" %>
            <h3><a href="#"><%= link_to filteredPosts[3].title, filteredPosts[3] %></a></h3>
            <p><%= filteredPosts[3].created_at.strftime("%A, %b %d")%></p>
            <p class="desc"><%= markdown(filteredPosts[3].content[3,300]) %> </p>
            <% end %>
        </div>
    </div>
</div>
</div>


















<div class="hr_color1">

</div>
<div class="hr_color2">

</div>
<div class="hr_color3">

</div>
<div class="recent_posts">
  <div id = "welcome_posts" class="skinny_wrapper posts_wrapper">

  <% filteredPosts[4..-1].each do |post| %>

      <div class="post" id="welcome_post">
        <div class="flex">

      <%= image_tag (post.thumbnail.url(:large)), class: "posts_show_img", id: "posts_show_img_wel"%>
      <p class="date_trending" id="date_trending_wel"><%= post.created_at.strftime('%A, %B %d') %></p>
      <h2><a href="#"> <%= link_to post.title, post %> </a></h2>
        </div>

      <% post.category_id do |category| %>
      <li>
      <%= link_to category.name, posts_path(category: category.name) %>
      </li>

    <% end %>




  </div>

<% end %>


  </div>


</div>
