<h1 id="form_title">Become a writer for Consonancie</h1>
<div class="skinny_wrapper wrapper_padding">
  <%= form_for @contact do |f| %>
      <%= f.label :name %> <br>
      <%= f.text_field :name, required: true %>
      <br>
      <%= f.label :email %> <br>
      <%= f.email_field :email, required: true %>
      <br>
      <h5>Why are you a good fit for our team?</h5>
      <%= f.text_area :message, as: :text  %>

      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>
      <br>
      <%= f.submit 'Apply!', class: "button" %>

  <% end %>
<br><br>

</div>
