<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error")%> prevented this post from saving:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :category_id, "Choose a Category" %> <br><br>
<%= f.collection_select(:category_id, Category.all, :id, :name) %><br><br>
  <%= f.label :image, "Upload a thumbnail image" %> <br><br>
  <%= f.file_field :image %>
  <br> <br>
  <br>
  <%= f.label :title, "Enter the post title" %><br>
    <%= f.text_field :title %><br>
  <br>
  <br>

  <%= f.label :content, "Write your article here" %> <br>
  <%= f.cktext_area :content %>

  <br>
  <br>

  <% if (current_user && (current_user.admin?)) %>
  <br><%= f.label "Approve" %>
  <%= f.check_box :approved %><br /><br />
  <% end %>

  <%= f.submit %>
<% end %>
