
<h2 id = "page_title"><%= Category.find_by(name: params[:category]).name %> </h2>

<div class="whole_category">
  <div class="articles-show">
    <div class="flex">
      <div class="container">
          <% @posts.approved.each do |post| %>
            <div class="whole_post">
                <div class="container_image">
                  <%= image_tag (post.thumbnail.url(:large))%>
                </div>
                <div class="post_content">
                  <h2><a href="#"> <%= link_to post.title, post %> </a></h2>
                  <div class="post_index_details">
                    <p class="post_date"><%= post.created_at.strftime('%A, %B %d') %></p>
                    <p class="post_date">BY <%= post.user.full_name %></p>
                  </div>
                </div>
           </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
