<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
  <%= image_tag @post.thumbnail.url, :style => 'position: absolute; width: 100%; height: 300px; margin-left: -40em; margin-top: -13.3em; filter: blur(7px);' %>


    <h1 id="form_title"><%= @post.title %></h1>
    <p id="date_post"><%= @post.created_at.strftime("%A, %B %d") %></p>

    <p class="author" style="margin-right: 7px; font-size: 16px;">By <%= @post.user.full_name %></p>

  </header>

<div id="content">
  <%= raw @post.content %>
</div>

<% if can? :update, @post %>
  <div id="admin_links">
  <%= link_to "Edit Article", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<%end%>





</div>

<%= render 'disqus' %>

<br>
<br>
