<!DOCTYPE html>
<html>
  <head>
    <title>Janet Hamrani</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <img id = "newest"src = "https://www.rollingstone.com/wp-content/uploads/2019/02/areathatrib.jpg?crop=900:600&width=440">
    <% @posts.each do |post| %>
    <h3 id = "newest_title"><a href="#"><%= link_to post.title, post %></a></h3>
    <p class="date"><%= post.created_at.strftime("%A, %b %d") %> </p>
    <% end %>
    <!--<h3 id = "newest_title"> Here's stuff that happened </h3> -->

    <header id="main_navigation" class="clearfix">
        <%= link_to "Teen Bizz", root_path, class: "name" %>
        <nav>
          <%= link_to "Lifestyle", posts_path %>
          <%= link_to "Beauty", projects_path %>
          <%= link_to "Contact", new_contact_path %>
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% end %>
        </nav>
    </header>
    <% if notice %>
      <p class="notice"> <%= notice %> </p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
      <% end %>

    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">© 2018 Janet Hamrani</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </nav>
    </footer>
  </body>
</html>
