<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
        <%= yield(:head) %>
    <% else %>
        <title>Consonancie</title>
    <% end %>

    <title>Consonancie</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('https://lh3.googleusercontent.com/0ZJrHrQ8TdAa8SGGNGtliLMz2X-i7rnT7uwG725m1wmZG7G-mf2gZ7AyxOvOtYTpasvhOtTOvDWwtrqSSnUKrqzBo1phjEUlNShEDwSUrsmd7VUBxkmjO6XZx7fDGl4-5lbcovfQsSSEvhNV3wDiot0fB1A8gbOHlgGrSMrz-T5Mz6b6yvHmgVpGXh5t_3QChItHrP7GvMQ1eE1YM_YrVeyFA4TnC5UMc5YzcSx-EykzP5_1xIs8CvjJQGKRklfZOrc2un9ovbEv6hemHHr3vcwurHj-2OidlVQmTi8VxD02aG52jpN2i4iDwPRWjckJrwpd2Egn9jezy8QpMlrjZGMsbnWqpw5i3RAvYH6Kko1YnTqCS7-7agiDyJ36KsfE-X5aUIWeizRII-VBqJYg5OqZElzCADHmA6TGY7l4JMxKCBs1kVnUIoYj6ZsvUjWPG5F-uGhSJhf_k4O5_uHd8kQyqrFbdFZ6mJ-fgvo8kLzjc2X_K5Ux8S9MnmcwTwh8foEEGE43Ky61QEWf0CTxZXdzhYBVIwQT9wW-wqPWwjcdk11tefg91U7Kt7zaqd85Hi-9kNyzPME8VWlgM-zFwM0mzDZj-H0fv0w3fYvY1Zzznw_M83vqnNIMz-iAtlE5mxT83HYfBAVjnEhHXIzhwomL5GK-tTEiDaLER2PkzTrawGfpmVazkA=w618-h608-no') %>
    <script>
      function openSlideMenu(){
        document.getElementById('menu').style.width = '250px';
        // document.getElementById('page-container').style.marginLeft = '250px';
        // document.getElementById('img_overlay').style.marginLeft = '-125px';

      }
      function closeSlideMenu(){
        document.getElementById('menu').style.width = '0';
        document.getElementById('page-container').style.marginLeft = '0';
      }
      // <script>
      //   function openSM(){
      //     document.getElementById("mySideMenu").style.width = "450px";
      //     document.getElementById("pg-content").style.marginLeft = "450px";
      //   }
      //   function closeSM(){
      //     document.getElementById("mySideMenu").style.width = "0";
      //     document.getElementById("pg-content").style.width = "0";
      //
      //   }
      //
      // </script>
    </script>



  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">





     <div id="sidebar">
      <span class="slide">
        <i class="fa fa-bars toggle_menu" style="color: black;" onclick="openSlideMenu()"></i>

        </a>
      </span>

      <div id="menu" class="nav">
        <a href="#" class="close" onclick="closeSlideMenu()">
          <i class="fas fa-times"></i>
        </a>
        <h3 id="side-nav-title"><%= link_to "Consonancie", root_path%></h3>
        <a href="/posts?category=Beauty">Beauty</a>
        <a href="/posts?category=Lifestyle">Lifestyle</a>
        <a href="/posts?category=Entertainment">Entertainment</a>
        <a href="/posts?category=Rants">Rants</a>

      <% if user_signed_in? %>
         <%= link_to "Dashboard", user_path(current_user) %>
         <a class="link" href="/signout" id="sign_out">Log Out</a>
     <% else %>
         <a href="/apply">Apply</a>
         <a href="/login" id="login">Log In</a>


      <% end %>

      </div>

    </div>

 <header id="main_navigation" class="clearfix">
 <nav>
           <h3 id="img_overlay"><%= link_to "consonancie", root_path%></h3>

          <div class="list_stuff">
          <li class="list_item"><a href="/posts?category=Beauty">Beauty</a></li>
          <li class="list_item"><a href="/posts?category=Lifestyle">Lifestyle</a></li>
          <li class="list_item"><a href="/posts?category=Entertainment">Entertainment</a></li>
          <li class="list_item"><a href="/posts?category=Rants">Rants</a></li>


      <% if user_signed_in? %>
      <a class="link" href="/signout" id="sign_out">Log Out</a>
      <% else %>
            <a class="link" href="/contacts/new" id="apply">Apply</a>
            <a class="link" href="/login" id="login">Log In</a>
          <% end %>
        </nav>
      </div>



    </header>

    <% if notice %>
      <p class="notice"> <%= notice %> </p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
      <% end %>

    <%= yield %>


</div>





  <!-- <footer id="main_footer">
      <p class="copyright">© 2019 consonancie</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </nav>
    </footer> -->
    <footer id="footer">
      <p class="copyright">© 2019 consonancie</p>
      <nav>
      <a href="instagram.com/consonancie"><i class="fab fa-instagram"></i></a>


      </nav>
    </footer>
    </div>
  </div>
  </body>
</html>
