<!DOCTYPE html>
<html>
  <head>
    <title>Janet Hamrani</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



     <%= link_to "teenBizz", root_path, class: "name" %>
     <img id="img_logo" src="http://i66.tinypic.com/103zrbp.png">

     <header id="main_navigation" class="clearfix">
       <img id="main_img" src = "http://i67.tinypic.com/eryhhg.jpg">
        <nav>
          <% Category.all.each do |category| %>
          <li>
          <%= link_to category.name, posts_path(category: category.name) %>
          </li>
          <% end %>
          <!--
          <%= link_to "Lifestyle", posts_path %>
          <%= link_to "Beauty", projects_path %>
          <%= link_to "Contact", new_contact_path %> -->
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% end %>
        </nav>

    </header>

    <% if notice %>
      <p class="notice"> <%= notice %> </p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
      <% end %>

    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">© 2019 Teen Bizz</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </nav>
    </footer>
  </body>
</html>
