<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
        <%= yield(:head) %>
    <% else %>
        <title>Consonancie</title>
    <% end %>

    <title>Consonancie</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      function openSlideMenu(){
        document.getElementById('menu').style.width = '250px';
        document.getElementById('page-container').style.marginLeft = '250px';
        document.getElementById('img_overlay').style.marginLeft = '-125px';

      }
      function closeSlideMenu(){
        document.getElementById('menu').style.width = '0';
        document.getElementById('page-container').style.marginLeft = '0';
      }
    </script>



  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">




  <!--   <%= link_to "consonancie", root_path, class: "name" %>-->
  <!--   <h3 id="img_logo">consonancie</h3>
     <h3 id="img_overlay"><%= link_to "consonancie", root_path%></h3> -->


    <div id="sidebar">
      <span class="slide">
        <i class="fa fa-bars toggle_menu" style="color: black;" onclick="openSlideMenu()"></i>

        </a>
      </span>

      <div id="menu" class="nav">
        <a href="#" class="close" onclick="closeSlideMenu()">
          <i class="fas fa-times"></i>
        </a>
        <h3 id="side-nav-title"><%= link_to "Consonancie", root_path%></h3>
        <a href="/posts?category=Beauty">Beauty</a>
        <a href="/posts?category=Lifestyle">Lifestyle</a>
        <a href="/posts?category=Entertainment">Entertainment</a>
        <a href="/posts?category=News">News</a>

      <% if user_signed_in? %>
         <%= link_to "Dashboard", user_path(current_user) %>
         <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
     <% else %>
         <a href="/apply">Apply</a>
         <a href="/login" id="login">Log In</a>


      <% end %>

      </div>

    </div>

 <header id="main_navigation" class="clearfix">
 <nav>
           <h3 id="img_overlay"><%= link_to "consonancie", root_path%></h3>

          <div class="list_stuff">
          <li class="list_item"><a href="/posts?category=Beauty">Beauty</a></li>
          <li class="list_item"><a href="/posts?category=Lifestyle">Lifestyle</a></li>
          <li class="list_item"><a href="/posts?category=Entertainment">Entertainment</a></li>
          <li class="list_item"><a href="/posts?category=News">News</a></li>


      <% if user_signed_in? %>
      <a class="link" href="/signout" id="sign_out">Log Out</a>
      <% else %>
            <a class="link" href="/contacts/new" id="apply">Apply</a>
            <a class="link" href="/login" id="login">Log In</a>
          <% end %>
        </nav>
      </div>



    </header>

    <% if notice %>
      <p class="notice"> <%= notice %> </p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
      <% end %>

    <%= yield %>
  </div>







  <!-- <footer id="main_footer">
      <p class="copyright">© 2019 consonancie</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </nav>
    </footer> -->
    <footer id="footer">
      <p class="copyright">© 2019 consonancie</p>
      <nav>
      <a href="instagram.com/consonancie"><i class="fab fa-instagram"></i></a>


      </nav>
    </footer>
  </div>
  </body>
</html>
