<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
        <%= yield(:head) %>
    <% else %>
        <title>urbanthropology</title>
    <% end %>

    <title>urbanthropology</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



  <!--   <%= link_to "urbanthropology", root_path, class: "name" %>-->
  <!--   <h3 id="img_logo">urbanthropology</h3>
     <h3 id="img_overlay"><%= link_to "urbanthropology", root_path%></h3> -->
     <header id="main_navigation" class="clearfix">
 <nav>
           <h3 id="img_overlay"><%= link_to "urbanthropology", root_path%></h3>

          <div class="list_stuff">

           <% Category.all.each do |category| %>
          <li>
          <%= link_to category.name, posts_path(category: category.name), class: "link" %>
          </li>
          <% end %>


      <% if user_signed_in? %>
           <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "link", id: "sign_out" %>
      <% else %>
          <%= link_to "Apply", class: "link" %>
            <%= link_to "Sign in", new_user_session_path, class: "link" %>
          <% end %>
        </nav>
      </div>



    </header>

    <% if notice %>
      <p class="notice"> <%= notice %> </p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
      <% end %>

    <%= yield %>


   <footer id="main_footer">
      <p class="copyright">© 2019 urbanthropology</p>
      <nav>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </nav>
    </footer>
  </body>
</html>
